* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    #loader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: radial-gradient(circle, #0f0f0f8a 30%, #00000091 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 9999;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    #loader.hide {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    .circle {
      width: 60px;
      height: 60px;
      border: 6px solid rgba(255, 255, 255, 0.1);
      border-top: 6px solid #6c5ce7;
      border-radius: 50%;
      animation: spin 1s linear infinite;
      box-shadow: 0 0 12px #6c5ce7, 0 0 20px rgba(108, 92, 231, 0.5);
      margin-bottom: 20px;
    }

    .loader-text {
      color: #ffffff;
      background-color: #6c5ce780;
     text-shadow: #6c5ce7 10px;
      font-size: 1.4rem;
      font-family: 'Barlow Condensed', sans-serif;
      letter-spacing: 1.5px;
      animation: fadeInOut 2s infinite ease-in-out;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    @keyframes fadeInOut {
      0%, 100% { opacity: 0.3; }
      50% { opacity: 1; }
    }